WebApplication/WebApplication/Connected Services/TotalAndTaxSR/TotalAndTaxService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TotalAndTaxService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53929/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53929/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53929/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TotalAndTaxServiceInterface_CalculateTotal_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTotal" />
  </wsdl:message>
  <wsdl:message name="TotalAndTaxServiceInterface_CalculateTotal_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTotalResponse" />
  </wsdl:message>
  <wsdl:message name="TotalAndTaxServiceInterface_CalculateTax_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTax" />
  </wsdl:message>
  <wsdl:message name="TotalAndTaxServiceInterface_CalculateTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateTaxResponse" />
  </wsdl:message>
  <wsdl:portType name="TotalAndTaxServiceInterface">
    <wsdl:operation name="CalculateTotal">
      <wsdl:input wsaw:Action="http://tempuri.org/TotalAndTaxServiceInterface/CalculateTotal" message="tns:TotalAndTaxServiceInterface_CalculateTotal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TotalAndTaxServiceInterface/CalculateTotalResponse" message="tns:TotalAndTaxServiceInterface_CalculateTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTax">
      <wsdl:input wsaw:Action="http://tempuri.org/TotalAndTaxServiceInterface/CalculateTax" message="tns:TotalAndTaxServiceInterface_CalculateTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/TotalAndTaxServiceInterface/CalculateTaxResponse" message="tns:TotalAndTaxServiceInterface_CalculateTax_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_TotalAndTaxServiceInterface" type="tns:TotalAndTaxServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateTotal">
      <soap:operation soapAction="http://tempuri.org/TotalAndTaxServiceInterface/CalculateTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTax">
      <soap:operation soapAction="http://tempuri.org/TotalAndTaxServiceInterface/CalculateTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TotalAndTaxService">
    <wsdl:port name="BasicHttpBinding_TotalAndTaxServiceInterface" binding="tns:BasicHttpBinding_TotalAndTaxServiceInterface">
      <soap:address location="http://localhost:53929/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>