WebApplication/WebApplication/Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64223/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64223/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64223/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_createUser_InputMessage">
    <wsdl:part name="parameters" element="tns:createUser" />
  </wsdl:message>
  <wsdl:message name="IService1_createUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:createUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_userNameExists_InputMessage">
    <wsdl:part name="parameters" element="tns:userNameExists" />
  </wsdl:message>
  <wsdl:message name="IService1_userNameExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:userNameExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_userLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:userLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_userLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:userLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserType_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserType" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserType_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addUserPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:addUserPurchase" />
  </wsdl:message>
  <wsdl:message name="IService1_addUserPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserPurchases_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserPurchases" />
  </wsdl:message>
  <wsdl:message name="IService1_getUserPurchases_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserPurchasesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_debugFunct_InputMessage">
    <wsdl:part name="parameters" element="tns:debugFunct" />
  </wsdl:message>
  <wsdl:message name="IService1_debugFunct_OutputMessage">
    <wsdl:part name="parameters" element="tns:debugFunctResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="createUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/createUser" message="tns:IService1_createUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/createUserResponse" message="tns:IService1_createUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userNameExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/userNameExists" message="tns:IService1_userNameExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/userNameExistsResponse" message="tns:IService1_userNameExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/userLogin" message="tns:IService1_userLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/userLoginResponse" message="tns:IService1_userLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUserType" message="tns:IService1_getUserType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserTypeResponse" message="tns:IService1_getUserType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUserPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addUserPurchase" message="tns:IService1_addUserPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addUserPurchaseResponse" message="tns:IService1_addUserPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserPurchases">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUserPurchases" message="tns:IService1_getUserPurchases_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUserPurchasesResponse" message="tns:IService1_getUserPurchases_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="debugFunct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/debugFunct" message="tns:IService1_debugFunct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/debugFunctResponse" message="tns:IService1_debugFunct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createUser">
      <soap:operation soapAction="http://tempuri.org/IService1/createUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userNameExists">
      <soap:operation soapAction="http://tempuri.org/IService1/userNameExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/userLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserType">
      <soap:operation soapAction="http://tempuri.org/IService1/getUserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUserPurchase">
      <soap:operation soapAction="http://tempuri.org/IService1/addUserPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserPurchases">
      <soap:operation soapAction="http://tempuri.org/IService1/getUserPurchases" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="debugFunct">
      <soap:operation soapAction="http://tempuri.org/IService1/debugFunct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64223/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>