WebApplication/WebApplication/Connected Services/ServiceReference2/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLoggedIn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userNameExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userNameExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNameExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encryptedPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="debugFunct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="debugFunctResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="debugFunctResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>